.homeBtn {
    font-family: 'Viga', sans-serif;
    font-size: large;
    float: left;
    color: rgba(0, 162, 182, 1);
    background-color: rgb(94, 86, 87);
    border-radius: 10px;
    border: 5px solid rgb(94, 86, 87);
    box-shadow: 3px 3px rgba(199, 199, 199, .5);
    height: 50px;
    width: 150px;
}
.homeBtn:hover {
    background-color: rgb(138, 132, 133);
    border: 5px solid rgb(138, 132, 133);
}
.scoresBtn {
    font-family: 'Viga', sans-serif;
    font-size: large;
    float: right;
    color: rgba(0, 162, 182, 1);
    background-color: rgb(94, 86, 87);
    border-radius: 10px;
    border: 5px solid rgb(94, 86, 87);
    box-shadow: 3px 3px rgba(199, 199, 199, .5);
    height: 50px;
    width: 150px;
}
.scoresBtn:hover {
    background-color: rgb(138, 132, 133);
    border: 5px solid rgb(138, 132, 133);
}
.header {
    text-align: center;
    color: rgba(0, 162, 182, 1);
    font-family: 'Viga', sans-serif;
    font-size: 40px;
}
.container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 125px;
    width: 40vw;
    height: 25vh;
}
.playBtn {
    font-family: 'Viga', sans-serif;
    font-size: large;
    float: left;
    color: rgba(0, 162, 182, 1);
    background-color: rgb(94, 86, 87);
    border-radius: 10px;
    border: 5px solid rgb(94, 86, 87);
    box-shadow: 3px 3px rgba(199, 199, 199, .5);
    height: 50px;
    width: 150px;
}
.playBtn:hover {
    background-color: rgb(138, 132, 133);
    border: 5px solid rgb(138, 132, 133);
}
h2 {
    text-align: center;
    color: rgba(0, 162, 182, 1);
    font-family: 'Viga', sans-serif;
}
#ansBtn {
    font-family: 'Viga', sans-serif;
    font-size: large;
    float: left;
    color: rgba(0, 162, 182, 1);
    background-color: rgb(94, 86, 87);
    border-radius: 10px;
    border: 5px solid rgb(94, 86, 87);
    box-shadow: 3px 3px rgba(199, 199, 199, .5);
    height: 50px;
    width: 150px;
}
#ansBtn:hover {
    background-color: rgb(138, 132, 133);
    border: 5px solid rgb(138, 132, 133);
}
body {
    background-image: url(https://image.freepik.com/free-vector/blue-sky-with-lens-flare-bokeh-background_87521-1563.jpg);
}